name: Build Windows EXE

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup MinGW
        uses: egor-tensin/setup-mingw@v2
        with:
          platform: x64

      - name: Build
        run: g++ main.cpp -o hello.exe -mwindows

      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: hello-exe
          path: hello.exe
